<form action="/dashboard" method="POST" class="form-inline">
    <div class="form-group input-group m-b-0">
        <input class="form-control textarea py-2" size="30" name="task" type="text" value="" placeholder="Create new task">
    <span class="input-group-btn py-0">
        <button class="btn addicon"  type="submit"><i class="fas fa-plus-circle addicon"></i></button>
    </span>
  </div>
</form>