<li id="{{this.id}}" class="list-group-item list-group-item-action list-group-item-light text-nowrap clearfix {{#if this.completed}}checked{{/if}}">
    <input type="checkbox" {{#if this.completed}}checked{{/if}}>
    <span contenteditable="true">{{this.task}}</span>            
    <form style="display: inline" method="POST" action="/{{id}}?_method=DELETE">
      <button type="submit" class="btn"><i class="far fa-trash-alt"></i></button>
		</form>
   
    <p class="tododate" id="currentTime">{{date.day}}</p>
</li>
                